.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

/* So aplica o visua se as duas classes forem verdadeiras */
input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid rgb(100, 231, 100);
}

select.ng-valid.ng-touched {
    border: 1px solid rgb(100, 231, 100);
}